# Python
*.py                  @SalesforceFoundation/release-engineering

# CumulusCI
/cumulusci.yml        @SalesforceFoundation/release-engineering
/tasks/               @SalesforceFoundation/release-engineering

# Heroku CI
/Gemfile.lock         @SalesforceFoundation/release-engineering
/app.json             @SalesforceFoundation/release-engineering
/requirements.txt     @SalesforceFoundation/release-engineering
/runtime.txt          @SalesforceFoundation/release-engineering
