# CumulusCI
/cumulusci.yml        @SalesforceFoundation/release-engineering-reviewers
/tasks/               @SalesforceFoundation/release-engineering-reviewers

# SFDX
/sfdx-project.json        @SalesforceFoundation/release-engineering-reviewers