.cci
.idea
.externalToolBuilders
.appcloud
.project
.settings
.gitignore
build.properties
salesforce.schema
Referenced Packages
/.sfdx
/uninstall
/uninstallsrc
/installdeploy
/installedPackages
test_results.json
test_results.xml
robot/HEDAP/results/
unpackaged/*/*/*.zip
unpackaged/namespaced_zipped
unpackaged/zipped
unpackaged_stage
packaged
.*.swp
*.pyc

# macOS Specific Ignores
# https://github.com/github/gitignore/blob/master/Global/macOS.gitignore
*.DS_Store
.AppleDouble
.LSOverride

