# SFDX
/.sfdx

# CCI
.cci
robot/EDA/results/
robot/HEDAP/results/
unpackaged/*/*/*.zip
unpackaged/namespaced_zipped
unpackaged/zipped
unpackaged_stage
packaged
test_results.json
test_results.xml
/uninstall
/uninstallsrc
/installdeploy
/installedPackages

# Editors
**/.vscode/

# Referenced Packages
.*.swp
*.pyc
.idea
.externalToolBuilders
.appcloud
.project
.settings
.gitignore
build.properties
salesforce.schema

# Jest coverage
coverage/

# LWC linting
**/lwc/.eslintrc.json
**/lwc/jsconfig.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Eslint cache
.eslintcache

# macOS Specific Ignores
# https://github.com/github/gitignore/blob/master/Global/macOS.gitignore
*.DS_Store
.AppleDouble
.LSOverride

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/