.nav-subsection-header_link:hover {
    color: var(--lwc-colorTextActionLabel);
}

.nav-subsection-header_link:active {
    color: var(--lwc-colorTextActionLabel);
}

.nav-menu-item_link:hover {
    color: var(--lwc-colorTextActionLabelActive);
}

.nav-menu-item_link:active {
    color: var(--lwc-colorTextActionLabelActive);
}

.nav-subsection-header_link{
    font-weight: var(--lwc-fontWeightBold);
}

.nav-is-active {
    background-color: var(--lwc-colorBackground);
}
