.nav-menu-item_link:link {
    color: var(--lwc-colorTextActionLabelActive);
}

.nav-menu-item_link:visited {
    color: var(--lwc-colorTextActionLabelActive);
}

.nav-menu-item_link:hover {
    color: var(--lwc-colorTextActionLabelActive);
}

.nav-menu-item_link:active {
    color: var(--lwc-colorTextActionLabelActive);
}

.nav-is-active {
    background-color: var(--lwc-colorBackground);
}

.eda-nav_heading_uppercase {
    text-transform: uppercase;
}