.eda-nav-subsection-header_link:hover {
    color: var(--lwc-colorTextActionLabel);
}

.eda-nav-subsection-header_link:active {
    color: var(--lwc-colorTextActionLabel);
}

.eda-nav-menu-item_link:hover {
    color: var(--lwc-colorTextActionLabelActive);
}

.eda-nav-menu-item_link:active {
    color: var(--lwc-colorTextActionLabelActive);
}

.eda-nav-is-active {
    background-color: var(--lwc-colorBackground);
}
