name: Formatting
on: [push]
jobs:
  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v2-beta
        with:
          node-version: '14'
      - name: prettier
        run: |
          yarn prettier "*.{html,md,yml,yaml,json}" --check
